*{
    color: hsl(0, 0%, 77%);
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 10%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 10vw;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* Ajustar responsivines parar movil y tablets */

main{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

p{
    margin: 0 auto;
    padding: 0;
    font-size: 50vw;
}

#puntos{
    display: none;
}

@media (min-width: 743px) and (max-width: 1023px){
    p{font-size: 35vw;}
}

@media (min-width: 1024px){
    p{font-size: 20vw;}
    
    main{
        flex-direction: row;
    }

    #puntos{
        display: block;
    }
}